.contactlistform {
  height: 188px;
  overflow: auto;
  padding: 10px;
}

.contactlistform::-webkit-scrollbar {
  display: none;
}

.linone {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.liflex {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 3px;
}

.liflex:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.divflex {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.contactlistbutton {
  width: 20px;
  height: 22px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.contactlistbutton:hover {
  color: white;
}

.titleflex {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 16px;
}

.filterinputflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectiontitle {
  margin-top: 0;
}

.iconphone {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.iconcontacts {
  font-size: 20px;
}
