.hometext {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 600;
  background-color: rgba(128, 128, 128, 0.8);
  width: auto;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}
